<h1>Editing Check In</h1>

<%= render 'form', check_in: @check_in %>

<%= link_to 'Show', @check_in %> |
<%= link_to 'Back', check_ins_path %>


<!-- destroy_user_session DELETE /users/sign_out(.:format)      devise/sessions#destroy -->
