<h1>Show Page for <%= @user.name %></h1>

<div class="bs-example" data-example-id="hoverable-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @records.each do |record| %>
          <tr>
            <% status = "" %>
            <% if record.status == 1 %>
              <% status = "On Time" %>
            <%  elsif record.status == 2 %>
               <% status = "Slight Late" %>
            <%  elsif record.status == 3 %>
              <% status = "Very Late" %>
            <% elsif record.status == 4 %>
              <% status = "Checked out" %>
            <%  else %>
              <% status = "Not Present" %>
            <% end %>
            <td><%= @user.name %></td>
            <td><%= record.date %></td>
            <td><%= status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
